<div class="container">
  <div class="inner-container">
    <div class="gradient-overlay"></div>
    <img
      *ngIf="movie"
      class="background-image"
      [src]="'https://image.tmdb.org/t/p/original/' + movie.backdrop_path"
      [alt]="movie.title"
    />

    <div class="content">
      <h1>{{ movie?.title }}</h1>
      <div class="buttons">
        <button class="btn play">Play</button>
        <button class="btn watch-later">Watch Later</button>
      </div>
      <div class="info">
        <p class="release-date">Released: {{ movie?.release_date }}</p>
        <p class="overview">{{ truncateString(movie?.overview, 150) }}</p>
      </div>
    </div>
  </div>
</div>
